/* * {
  padding: 0;
  margin: 0;
} */
ul {
  list-style: none;
}
body {
  background: rgb(229, 229, 229);
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
  background-color: white;
}
.title-credit-cards {
  color: rgb(52, 60, 106);
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;

  flex: 1;
}
.src-field {
  display: flex;
  background-color: rgb(245, 247, 250);
  border-radius: 40px;
  width: 190px;
  height: 30px;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}
.search-icon {
  display: flex;
}
input {
  background-color: transparent;
  all: unset;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.action-btn {
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.title-my-cards {
  color: rgb(51, 59, 105);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}
.title-card-name {
  display: flex;
  gap: 130px;
}
.top-section {
  width: 100%;
  height: 225px;
  font-family: Lato;
}

.container-credit-cards {
  display: flex;
}

.bank-dash {
  width: 240px;
  height: 1500px;
  font-family: Inter;
}

.img {
  width: 36px;
  height: 36px;
}

.line {
  position: absolute;
  width: 3px;
  height: 1319px;
  left: 247px;
  top: 0;
  background: rgb(230, 239, 245);
}

.image-box {
  width: 34.8px;
  height: 34.8px;
}

.cards-list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}
.card {
  display: flex;
  width: 350px;
  height: 225px;
  flex-direction: column;
  border-radius: 25px;
  background: linear-gradient(
    135.29deg,
    rgb(45, 96, 255) 2.413%,
    rgb(83, 155, 255) 101.106%
  );
}
.up-container {
  display: flex;
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 30px;
}
.down-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0) 100%
  );
}
.balance-container {
  display: flex;
  flex: 1;
  align-items: center;
}
.balance-title-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.balance-lable {
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.info-container {
  display: flex;
  flex: 1;
  color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  /* flex-direction: column; */
}
.card-name {
  color: rgb(255, 255, 255);
  font-family: Inter;
  color: rgba(255, 255, 255, 0.7);
}
.card-lable {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.valid {
  color: rgba(255, 255, 255, 0.7);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: Inter;
  color: rgba(255, 255, 255, 0.7);
}
.valid-date {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.card-color-blue {
  background: linear-gradient(
    135.29deg,
    rgb(76, 73, 237) 2.413%,
    rgb(10, 6, 244) 101.106%
  );
}
.card-color-white {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(223, 234, 242);
}
.card-inverted {
  color: black;
}
.statistics-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.statistic-info-container {
  display: flex;
  flex: 1;
  width: 100%;
  font-family: Inter;
  color: rgb(113, 142, 191);
}
.container-banks {
  display: flex;
  gap: 20px;
}

.item-container {
  display: flex;
  gap: 12px;
}

.statistics-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 310px;
  padding-top: 26px;
  align-items: center;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}
.p-reset {
  all: unset;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.green-dot {
  background: rgb(22, 219, 204);
}
.blue-dot {
  background: rgb(76, 120, 255);
}
.pink-dot {
  background: rgb(255, 130, 172);
}
.orange-dot {
  background: rgb(255, 187, 56);
}
.first-container {
  display: flex;
}
.container-card-list {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  width: 730px;
  height: 90px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin-left: 26px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 30px;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
}
.sec-two {
  display: flex;
  flex: 1;
}
.image-content {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.card-item-info {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  color: rgb(35, 35, 35);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.gray-text-style {
  color: rgb(113, 142, 191);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
}
.down-title {
  width: 730px;
  /* height: 440px; */
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  padding: 28px 20px 38px 20px;
}
.top-title {
  padding-bottom: 26px;
}
.a-title {
  width: 633px;
  height: 84px;
  color: rgb(113, 142, 191);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
}
.classic-btn {
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(223, 234, 242);
  border-radius: 15px;
  background: rgb(255, 255, 255);
}
.date-btn {
  color: rgb(113, 142, 191);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  width: 320px;

  box-sizing: border-box;
  border: 1px solid rgb(223, 234, 242);
  border-radius: 15px;
  background: rgb(255, 255, 255);
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.input-label {
  display: flex;
}

.add-card {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 15px 40px;
  background: rgb(24, 20, 243);
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.add-card:hover {
  background: rgb(49, 95, 245);
}
.new-card__card-setting {
  display: flex;
  gap: 30px;
}
.card-settings__container {
  width: 350px;
  height: 440px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.card-settings {
  display: flex;
  gap: 20px;
}
.card-settings-info {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.title-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  color: rgb(35, 35, 35);
}
.card-type {
  color: rgb(35, 35, 35);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
